<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
  </configSections>
  <FineUI DebugMode="false" />
  
   <!-- dell liu-->
  <!--<connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-IIV53IH;Initial Catalog=DB_whut_xljk;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="connStr" connectionString="Data Source=DESKTOP-IIV53IH;Initial Catalog=DB_whut_xljk;Integrated Security=True" />
    <add name="DB_whut_xljkConnectionString" connectionString="Data Source=DESKTOP-IIV53IH;Initial Catalog=DB_whut_xljk;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--surface liu-->
  <!--<connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-775SALJ\SQLEXPRESS;Initial Catalog=DB_whut_xljk;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="connStr" connectionString="Data Source=DESKTOP-775SALJ\SQLEXPRESS;Initial Catalog=DB_whut_xljk;Integrated Security=True" />
    <add name="DB_whut_xljkConnectionString" connectionString="Data Source=DESKTOP-775SALJ\SQLEXPRESS;Initial Catalog=DB_whut_xljk;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
    <!-- liu-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source(local);Initial Catalog=DB_whut_xljk;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="connStr" connectionString="Data Source=(local);Initial Catalog=DB_whut_xljk;Integrated Security=True" />
    <add name="DB_whut_xljkConnectionString" connectionString="Data Source=(local);Initial Catalog=DB_whut_xljk;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 连接字符串,(可以扩展支持不同数据库)如果是加密方式，上面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,上面设置为false -->

  
    <!--<add key="ConnectionString" value="Data Source=DESKTOP-775SALJ\SQLEXPRESS;Initial Catalog=DB_whut_xljk;Integrated Security=True" />-->
    <add key="ConnectionString" value="Data Source=(local);Initial Catalog=DB_whut_xljk;Integrated Security=True" />
    
    
    
    
    
    <!--权限模块连接字符串-->
    <!--<add key="ConnectionStringAccounts" value="Data Source=|DataDirectory|\wm.mdb;Persist Security Info=True"/>
      <add key="ConnectionString2" value="Data Source=|DataDirectory|\wm.mdb;Persist Security Info=True"/>-->
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value="" />
    <!--登录页地址 -->
    <add key="LoginPage" value="admin/Login.aspx" />
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false" />
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30" />
  </appSettings>
  
  <system.web>
    <trust level="Full" />

    <!--从客户端中检测到有潜在危险的 request.form值-->
    <httpRuntime requestValidationMode="2.0" />

    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f" />
      </controls>
    </pages>
    
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
  </system.web>

</configuration>