@charset "utf-8";
/* CSS Document */

/* 轮播图 */
#carousel-example-generic {
    width:52vw;
    float:left;
    height:22.7vw;
}
.carousel-indicators {
    width:10vw;
    height:2.5vw;
    bottom:-1vw;
    left:48vw;
    z-index:999;
}
.carousel_sub {
    width:52vw;
    background-color:black;
    opacity:0.5;
    height:2.5vw;
    left:0vw;
    position:relative;
    top:-2.5vw;
}

.carousel_title {
    position: absolute;
    left:2vw;
    width: 30%;
    top: 92%;
    color:white;
    font-size: 16px;
    font-family:'Microsoft YaHei';
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
.carousel-inner .item {
        height: 100%;
    }

.carousel-inner img{
    position: relative;
    width: 52vw;
    height: 100% !important; 
    overflow: hidden;
    }


/* 新闻动态 */
.p0_news{
	margin-top:1vw;
    margin-bottom:2vw;
	width:52vw;
	height:55vw;
	float:left;
	background-color:rgba(255,255,255,0.3);
	padding:0vw 1.81vw 0vw;
	box-shadow:0vw 0vw 0.06vw 0vw rgba(180,180,180,1.00);
	
	}/* 总版块 */
.newstittle{
    margin-top:0.8vw;
	}
.newsleft{
	margin-top:0.5vw;
	width:23vw;
    height:25vw;
	float:left;
    margin-bottom:1vw;
	}/* 左侧 */

.newsleft a{
    display: block;
    width: 100%;
    height: 16vw;
    overflow: hidden;
}/* 图片和文字 */

.newsleft a img{
    width: 100%;
    height:100%;
    display: block;
    position: relative;   
}/* 大图 */

.newsleft h3{
	font-size:1.5vw;
	font-family:STXihei;
	margin-top:0.6vw;
    width:23vw;
    line-height:1.6vw;
    height:3vw;
    overflow:hidden;
}
.newsleft p{
    font-size: 1vw;
    font-family:'Microsoft YaHei';
    color:#777;
    margin-top: 0.6vw;
    line-height: 1.5vw;
    width:23vw;
    height:8vw;
    overflow:hidden;
}	

/* 右侧 */
.newsright{
	width:23vw;
    height:25vw;
	float:right;	
	}
.nrtitle{
    font-size: 1.2vw;
    line-height: 2.2vw;
    height:2vw;
    width:13vw;
    overflow:hidden;
    font-family:'STXihei';
	}
.nrtxt{
    line-height: 2vw;
    min-height: 3.6vw;
    margin-bottom: 0.6vw;
    padding-bottom: 0.6vw;
    border-bottom: 0.12vw solid #999;
    width:23vw;
    height:4vw;
    overflow:hidden;
    font-family:'Microsoft YaHei';
    color:#777;
}


/*心协动态*/
.xinxiecontent{
    margin-top: 0.6vw;
    width: 100%;
    height: 20vw;
    overflow: hidden;
    padding-left: 1%;
}

.newsbottom{
	float:left;
    width: 28%;
    height:9vw;
    margin-top:1vw;
    margin-left:1.8vw;
	}

.newsbottom .imglink{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }

.newsbottom img{
    width: 100%;
    height:100%;
    
    }

.newtitle {
    height: 2vw;
    font-size: 1.2vw;
    font-family: "STXihei";
    margin-top: 0.6vw;
    }
.newtext{
       margin-top:0.6vw;
        height: 9vw;
        overflow: hidden;
        color: #777;
        font-size: 1vw;
        font-family: 'Microsoft YaHei';
        line-height: 1.5vw;
        width: 13vw;
	}



/* 问答案例 */		
.p0_qa{
	margin-top:1.6vw;
	width:23.5vw;
	height:55vw;
	float:right;
	}
.p0_qa p{
	font-size:1vw;
	font-family:"STXihei";
	margin-top:0.8vw;
	line-height:1.5vw;
	width:23vw;	
	padding-bottom:1vw;
	}
.p0_qa img{vertical-align:bottom;
width:2vw;
height:auto;}

/* 心理美文 */
.p0_essay{
	width:100%;
	height:20vw;
	background-color:rgba(255,255,255,0.3);
	overflow:hidden;
	box-shadow:0vw 0vw 0.06vw 0vw rgba(180,180,180,1.00);
    margin-bottom:5vw;
	}

.cover{
	background:rgba(0,0,0,0.40);
	float:left;
	margin:0vw 1.8vw;
	width:15vw;
	height:2vw;
	position:relative;
	bottom:2vw;
	}
.cover p{color:white;font-size:1vw;}

	
/*gird*/

.grid{
    width: 75.5vw;
    height:12vw;
    overflow: hidden;
    position: relative;
    margin: 1vw 0;
    vertical-align:middle;
}

.grid-block{
    display: block;
    width: 18%;
    height:100%;
    margin-left:4.5vw;
    float: left;
    cursor:pointer;
}

.grid-item{
    width: 100%;
    height:100%;
    position: relative;

}

.grid-item img{
    width: 100%;
    height: 100%;
}

.grid-item figcaption{
    display: none;
    opacity: 0;
    border-bottom:none;
}

.grid-item:hover{
    background:#000;
    border-bottom:none;
}

.grid-item:hover img{
    background-color: #fff;
    opacity: 0.6;
    border-bottom:none;
}

.grid-item:hover figcaption{
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    border-bottom:none;
}

.grid-item:hover figcaption h3{
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    opacity: 1;
}


