@charset "utf-8";
/* CSS Document */

/* 轮播图 */
#carousel-example-generic {
    width:52vw;
    float:left;
    height:22.7vw;
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
.carousel-inner .item {
        height: 100%;
    }

.carousel-inner img{
    position: relative;
    width: 52vw;
    height: 100% !important; 
    overflow: hidden;
    }
.carousel-title{
    position: absolute;
    width: 100% !important;
    top: 80%;
    color: #aaa;
    font-size: 1.2vw;
    font-weight: bolder;
    text-align: center;
}

/* 新闻动态 */
.p0_news{
	margin-top:2vw;
	width:52vw;
	height:55vw;
	float:left;
	background-color:rgba(255,255,255,0.3);
	padding:0vw 1.81vw 1.2vw;
	box-shadow:0vw 0vw 0.06vw 0vw rgba(180,180,180,1.00);
	
	}/* 总版块 */
.newstittle{
    margin-top:1.2vw;
	width:9vw;
	height:auto;
	}
.newsleft{
	margin-top:1vw;
	width:28vw;
	float:left;
	}/* 左侧 */

.newsleft a{
    display: block;
    width: 100%;
    height: 13.2vw;
    overflow: hidden;
}/* 图片和文字 */

.newsleft a img{
    width: 100%;
    height:100%;
    display: block;
    position: relative;   
}/* 大图 */

.newsleft h3{
	font-size:1.44vw;
	font-family:"等线Light";
	margin-top:0.6vw;}
.newsleft p{
    font-size: 1vw;
    font-family: "等线Light";
    margin-top: 0.6vw;
    line-height: 1.5vw;
}	

/* 右侧 */
.newsright{
	width:18vw;
	float:right;	
	}
.nrtitle{
    font-size: 1.2vw;
    line-height: 2.2vw;
	}
.nrtxt{
    line-height: 2vw;
    min-height: 3.6vw;
    margin-bottom: 0.6vw;
    padding-bottom: 0.6vw;
    border-bottom: 0.12vw solid #999;
}


/*心协动态*/
.xinxiecontent{
    margin-top: 0.6vw;
    width: 100%;
    height: 15.6vw;
    overflow: hidden;
    padding-left: 1%;
}

.newsbottom{
	float:left;
    width: 33%;
	}

.newsbottom .imglink{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }

.newsbottom img{
    width: 100%;
    height:100%;
    overflow: hidden;
    }

.newsbottom p{
    font-size: 1.44vw;
    font-family: "等线Light";
    margin-top: 0.6vw;
	}


/* 问答案例 */		
.p0_qa{
	margin-top:3vw;
	width:23.5vw;
	height:55vw;
	float:right;
	}
.p0_qa p{
	font-size:1vw;
	font-family:"等线Light";
	margin-top:0.8vw;
	line-height:1.5vw;
	width:23vw;	
	padding-bottom:1vw;
	}
.p0_qa img{vertical-align:bottom;
width:2vw;
height:auto;}

/* 心理美文 */
.p0_essay{
	width:100%;
	height:25vw;
	background-color:rgba(255,255,255,0.3);
	overflow:hidden;
	box-shadow:0vw 0vw 0.06vw 0vw rgba(180,180,180,1.00);
	}
.p0_essayimg{
	margin:1vw 1.8vw;
	width:15vw;
	height:auto;
	display:block;
	float:left;
}
.cover{
	background:rgba(0,0,0,0.40);
	float:left;
	margin:0vw 1.8vw;
	width:15vw;
	height:2vw;
	position:relative;
	bottom:2vw;
	}
.cover p{color:white;font-size:1vw;}

	
/*gird*/

.grid{
    width: 75.5vw;
    height: 20vw;
    overflow: hidden;
    position: relative;
    margin: 1vw 0;
}

.grid-block{
    display: block;
    width: 22%;
    margin-left:2.2vw;
    float: left;
    cursor:pointer;
}

.grid-item{
    width: 100%;
    height:100%;
    position: relative;

}

.grid-item img{
    width: 100%;
    height: 100%;
}

.grid-item figcaption{
    display: none;
    opacity: 0;
}

.grid-item:hover{
    background:#000;
}

.grid-item:hover img{
    background-color: #fff;
    opacity: 0.6;
}

.grid-item:hover figcaption{
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
}

.grid-item:hover figcaption h3{
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    opacity: 1;
}


