@charset "utf-8";

a:link { 
font-size: 0.84vw; 
color: #000000; 
text-decoration: none; 
} 
a:visited { 
font-size: 0.84vw; 
color: #000000; 
text-decoration: none; 
} 
a:hover { 
font-size:0.84vw; 
color: #999999; 
} 

/* CSS Document */
/*固定栏*/
.fixed_one{
	position:fixed;
	width:4vw;
	height:auto;
	right:0.1vw;
	top:18vw;}
.fixed_two{
	position:fixed;
	width:4vw;
	height:auto;
	right:0.1vw;
	top:25vw;}

/* 背景设置 */
body{
	background-image:url(../../images/bg.jpg);
    background-size: 100% auto;   
	}
	
/* 主体 */
.main{
	width:80%;
	margin:0 auto;
	}

/*1.header部分*/
/*logo*/	
.header{
	width:100%;
	height:9.6vw;
	}
.header img{
	margin-top:2.5vw;
	height:5.5vw;
	width:auto;
	margin-left:3vw;
	cursor:pointer; 
	}
.header .icon{
	margin-left:3vw;
	}
/*header部分*/

/*2.nav部分*/
.nav{
	width:100%;
	height:4vw;
	background-color:rgba(0,0,0,0.5);
	margin-bottom:1.5vw;/*导航条与下面的内容有1.5vw的距离*/
	}

.nav ul li{
	margin-left:2.5vw;
	float:left;
    }	
.nav img{
	width:1.6vw;
	height:1.6vw;
	margin-bottom:-0.3vw;
	margin-right:0.3vw;
	}
.nav a{
	font-size:1.3vw;
	color:white;
	font-family:'微软雅黑';
    line-height:4vw;
	letter-spacing:0.3vw;
	}
.nav ul li:hover{
	margin-left:2.5vw;
	float:left;
	border-top:0.12vw solid white;
	border-bottom:0.12vw solid white;
	cursor:pointer;
	}
/*nav部分*/

/* 主体部分三个按钮 各个页面通用 */
.button{
	width:20vw;
	height:20vw;
	float:right;
	background-color:rgba(225,225,225,0.2);
	border-radius:0.3vw;
	box-shadow:0vw 0vw 0.06vw 0vw #838383;
	}
.button img{
	width:16.5vw;
	height:auto;
	margin:2.5vw auto;
	display:block;
	}
/*三个按钮*/


/*底部*/
#footer{width:100%;
        height:10vw; 
       margin-top:2vw;
       background-color: rgba(181, 245, 182,1);
       z-index:99;
       overflow:hidden;
}
.foot_main{height:9vw;
           width:80vw;
            margin:0 auto; }

.foot_one ul {margin-left:21vw;
}
.foot_one ul li{float:left; 
                list-style:none; 
                width:8vw; 
                height:1.8vw; 
                color:#666; 
                font-size:1vw; 
                font-weight:bolder;
                 margin-top:2vw;

}
.foot_one ul li a{ color:#666; 
                   text-decoration:none;

}
.foot_one ul li a:hover{color:#567fe6; text-decoration:underline;}

.foot_one ul li span{padding-left:1vw;}

.foot_two{float:left; margin-top:1.5vw; margin-left:12vw;}

.foot_two p{font-size:1vw; color:#666; text-align:center;}
